* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(35, 150, 255);


}

body a {
    text-decoration: none;
}

body ul,
li {
    list-style: none;
}

.header {
    background-color: #defffb;
}

.cumprimento {
    text-align: center;
}

.logo img:hover {
    width: 130px;
    height: auto;
}

.menu a {
    color: #4a86e8;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    transition: color 0.3s ease;
    /* Efeito suave ao passar o mouse */
}

.menu a:hover {
    color: #1a4a8d;
    font-size: 17px;
}

.sobre {
    background-color: #f5f5f5;
    text-align: center;
}

.titulo-sobre {
    font-size: 32px;
    color: #2c4c7c;
    margin-bottom: 30px;
}

.sobre-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.sobre-img img {
    width: 300px;
    border-radius: 10px;
}

.sobre-texto {
    max-width: 400px;
    text-align: left;
    color: #555;
    font-size: 15px;
}

.btn-sobre {
    margin-top: 20px;
    padding: 10px 25px;
    border: 1px solid #333;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.btn-sobre:hover {
    background: #333;
    color: white;
}

/* Area das pipas */

.pipas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

/* estilo geral */

.pipa {
    position: absolute;
    width: 300px;
    animation: flutuar 6s infinite ease-in-out;
}

/* posições iniciais */

.p1 {
    top: 160%;
    left: 5%;
}

.p2 {
    top: 110%;
    right: 10%;
}

/* animação */

@keyframes flutuar {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-20px) rotate(5deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

.atividades {
    background-color: rgb(0, 0, 115);
    color: #fff;
    text-align: center;
}

.tags div {
    background-color: rgb(35, 150, 255);
    width: 300px;
    height: 250px;
    padding: 15px;
    border-radius: 20px;
}

.ap {
    background-color: rgb(5, 50, 80);
    color: #fff;
}

.apadrinhamento h3 {
    margin-bottom: 15px;
}

.apadrinhamento a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: rgb(18, 255, 243);
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: transform 0.2s;
}

.apadrinhamento a:hover {
    transform: scale(1.05);
}

footer {
    background-color: rgb(0, 0, 115);
    color: #fff;
}

.infos {
    margin: 0 35px;

}

.info h2 {
    margin: 25px 0;
}

.info ul {
    margin-top: 0;
}

.info li {
    margin: 10px 0;
}
